<center>
    <div class="p-3 text-primary-emphasis
                bg-primary-subtle
                border-primary-subtle">
    <h1>
        Mis practicas de NodeJS
    </h1>
    <h2>Juan Ramon Aramburo Osuna</h2>
    </div>
</center>